{% extends "base.html" %}

{% block navigation %}
{% include "layout/nav.html" %}
{% endblock %}

{% block content %}
<section id="form">
    <form method="POST" action="{{url_for('edit_project', id=project.id)}}">
        <label for="title">Project Title</label>
        <input type="text" name="title" id="title" value="{{ project.title }}" placeholder="Project Title" required>
        <label for="date">Completion Date</label>
        <input type="date" name="date" id="date" value="{{ project.date.strftime('%Y-%m-%d') }}" required>
        <label for="description">Description</label>
        <textarea name="short_description" id="description" cols="30" rows="20"  placeholder="Description" required>{{ project.short_description }}</textarea>
        <label for="skills-list" id="skills-label">Skills</label>
        <p>Separate each skill by a comma</p>
        <textarea name="skills" id="skills-list" cols="30" rows="10" placeholder="Skill1, Skill2" required>{{ project.skills }}</textarea>
        <label for="github">GitHub Link</label>
        <input type="url" name="github_link" id="github" value="{{ project.github_link }}" placeholder="Link to the repo" required>
         <div>
            <button onclick="history.back()">Go back</button>
            <button type="reset">Reset</button>
            <button type="submit">Submit</button>
        </div>
    </form>
</section>
{% endblock%}
{% block footer %}
{% include "layout/footer.html" %}
{% endblock%}